extends layout

block content
    #container
        section.clear
            #error
                img.cats(src='/images/404_cats.jpg' alt="cat 404")
            p.error 404 - Page not found
            p.error This is probably not what you were looking for. But isn't he just so cute? Try on 
                a(href='/') Social Pet's homepage
            
