doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Social Pets
    link(rel="icon" href="/images/favicon.png")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/layout.css'  type='text/css')
    link(rel='stylesheet' href='/stylesheets/mediaqueries.css' type='text/css' media='all')
  body
    //- HEADER
    .wrapper.row1
      header#header
        #hgroup
          h1
            a(href='#') Social Pet        
          h2 Choose your favorite!
        nav#topnav
          ul.topnav.clear
            li.active
              a(href='../index.html')
                i#homeIcon.fas.fa-home  
                |  HOMEPAGE
            li
              a(href='gallery.html')
                i#photosIcon.fas.fa-camera
                |  PHOTOS
            li.last
              a(href='portfolio.html')
                i#galleryIcon.fas.fa-heart  
                |  FAVORITES
        .clear
    
    .wrapper.filterRow
      .colBox
        .select
          select.select-text(id='selectBreed' required='')
            option(value='' disabled='' selected='')
            option(value='') All
            option(value='Akita') Akita
            option(value='Beagle') Beagle
            option(value='Komondor') Komondor
            option(value='Chow-chow') Chow-chow
            option(value='Chihuahua') Chihuahua
            option(value='Fox Terrier') Fox Terrier
            option(value='Great Dane') Great Dane
            option(value='Collie') Collie
            option(value='Pomsky') Pomsky
            option(value='Pug') Pug
            option(value='Boxer') Boxer
          span.select-highlight
          span.select-bar
          label.select-label BREED                
      .colBox
        .select
          select.select-text(id='selectSize' required='')
            option(value='' disabled='' selected='')
            option(value='') All
            option(value='Small') Small
            option(value='Medium') Medium
            option(value='Large') Large
          span.select-highlight
          span.select-bar
          label.select-label SIZE          
      .colBox
        .select
          select.select-text(id='selectAge' required='')
            option(value='' disabled='' selected='')
            option(value='') All
            option(value='0,1,2,3') 0-3
            option(value='4,5,6') 4-6
            option(value='7,8,9,10,11,12,13') 7 and more...
          span.select-highlight
          span.select-bar
          label.select-label AGE
      .colBox
        button#filter
          span APPLY FILTER

    //- CONTENT
    .wrapper.row2
      block content
    
    //- FOOTER
    .wrapper.row3
      footer#copyright.clear
        p.fl_left
          | Copyright &copy; 2018 - All Rights Reserved - 
          a(href='#') Domain Name
        p.fl_right
          a(target='_blank' href='https://www.facebook.com/')
            i.socialFooter.fab.fa-facebook
          |  
          a(target='_blank' href='https://www.instagram.com/')
            i.socialFooter.fab.fa-instagram
          |  
          a(target='_blank' href='https://twitter.com/')
            i.socialFooter.fab.fa-twitter
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/javascripts/jquery-mobilemenu.min.js')
  script(src='/javascripts/favorites.js')
  script(src='/javascripts/filter.js')
  script(src='/javascripts/pagination.js')
