@charset "utf-8";

#details{display:block; width:100%; padding:20px 0; line-height:1.6em;}
#details ul{margin:0; padding:0; list-style:none;}
#details li{display:block; width:100%; margin-bottom:5px; padding:20px 0}
#details li ul{margin:auto; padding:inherit; list-style:inherit; list-style-position:inside;}
#details li ul li{display:inherit; width:auto; margin:auto auto auto 15px; padding:0; border:none; font-size: 16px; color: black}
#details article, #details article figure{display:flex; justify-content: space-evenly; width:100%;}
#details article figure a.imgholder{display:block; float:right; width:40%; padding:10px; border:5px solid #70FF66; border-radius: 4px}
#details article figure a.imgholder img{width: 100%; cursor: default}
#details article figure figcaption{display:block; float:left; width:40%; padding:10px; background-color: #FFF666; color: black; border-radius: 4px}
#details article figure figcaption header{margin:0 0 15px 0; padding:0; font-size:2em; color: black}
#details article figure figcaption footer{display:block; text-align:right;}
