@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Prosto+One');
@import url("gallery.css");
@import url("details.css");

html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:100%; font-family: 'Prosto One', cursive; color:#666666; background-color:#FFFFFF;}

.clear::after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left {float:left;}
.fl_right {float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{margin:0 15px 15px 0; clear:left;}
.imgr{margin:0 0 15px 15px; clear:right;}

/* ----------------------------------------------HTML 5 Overrides------------------------------------- */

article, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{}
.row1 a, .row2 a, .row3 a{color:#FF9900; background-color:#FFFFFF;}
.row1, .row1 a{color:#666666; background-color:#FFFFFF;}
.row2, .row2 a{}
.row3, .row3 a{color:#666666; background-color:#FFFFFF;}
.row3 {position:fixed; bottom:0; min-width: 100%;}

/* ----------------------------------------------Generalise------------------------------------- */

h1, h2{margin:0 0 8px 0; padding:0; font-size:1.4em; font-weight:normal; line-height:normal;}

#header, #container, #copyright{margin:0 auto; font-size:.8em;}

/* ----------------------------------------------Header------------------------------------- */

#header{padding:20px 0; border-bottom:1px solid #D6D6D6;}
#header #hgroup{display:block; float:left; width:auto; clear:right;}
#header #hgroup h1, #header #hgroup h2{margin:0; font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:2.5em;}
#header #hgroup h2{font-size:1em;}

/* ----------------------------------------------Content Area------------------------------------- */

#container{padding:30px 0; border-bottom:1px solid #D6D6D6;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{margin-bottom:20px;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}

/* Content */

#container #content{float: left; width: 65.625%; margin-bottom:0;}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{padding:20px 0;}
#copyright p{margin:0; padding:0;}

/* -------------------------------------------NAV BAR HEADER ICONS-------------------------------------------*/
#homeIcon {color: #00d1b2; font-size: 14px}
#filterIcon {color: #23d160;font-size: 14px}
#galleryIcon {color: red; font-size: 14px}

/*----------------------------------------FOOTER SOCIAL NETWORK----------------------------------------*/
.socialFooter {font-size: 20px}
.fa-facebook {color: #4267b2}
.fa-instagram {color: #e4405f}
.fa-twitter {color: #55acee}

/* ----------------------------------------------Filter Select------------------------------------- */

.filterRow {margin: 20px auto; margin-bottom: 0px; display: flex; justify-content: space-around; max-width: 960px}

#filter, #view{
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #fa745e;
    color: #ecf0f1;
    transition: background-color .3s;
    cursor: pointer
}

#filter:hover, #view:hover, #filter:focus, #view:focus {background-color: #A966FF; color: black; font-weight: bold}
#filter > *, #view > *{position: relative}
#filter span, #view span {display: block; padding: 12px 24px}

#filter:before, #view:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer
}

#filter:active:before, #view:active:before {
    width: 120%; padding-top: 120%; transition: width .2s ease-out, padding-top .2s ease-out}

#view {position: absolute; bottom: 5px; right: 5px}

.seeAll {width: 100%; display: flex; justify-content: space-around}

.select {position: relative; width: 200px}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 200px;
	padding: 10px 10px 10px 0;
	font-size: 16px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {outline: none; border-bottom: 1px solid rgba(0,0,0, 0)}

/* Use custom arrow */
.select .select-text {appearance: none; -webkit-appearance:none}

.select:after {
	position: absolute;
	top: 16px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/*----------------------Label----------------------- */
.select-label {
	color: rgba(0,0,0, 0.26); font-size: 16px; font-weight: normal;	position: absolute;	pointer-events: none;
	left: 0; top: 10px;	transition: 0.2s ease all
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #fa745e;	top: -8px; transition: 0.2s ease all; font-size: 14px;
}

/*----------------------Bottom Bars----------------------- */
.select-bar {position: relative; display: block; width: 200px}

.select-bar:before, .select-bar:after {content: ''; height: 2px; width: 0; bottom: 1px;	position: absolute;
	background: #fa745e; transition: 0.2s ease all}

.select-bar:before {left: 50%}

.select-bar:after {right: 50%}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {width: 50%}

/*----------------------Highlighter----------------------- */
.select-highlight {position: absolute; height: 60%;	width: 100px; top: 25%;	left: 0; pointer-events: none; opacity: 0.5}

/*----------------------Prev and Next buttons----------------------- */
.disabled a {cursor: default; color: grey}

/*----------------------Image's Box----------------------- */
#images li img {border-radius: 4px}

/*----------------------Empty Search Message and Error message----------------------- */
.empty, .error {text-align: center; font-size: 25px}
#error, #empty {display: flex; justify-content: center;}

nav ul{margin:0; padding:0; list-style:none;}

/* ----------------------------------------------Top Navigation------------------------------------- */
#topnav{float:right; clear:right; padding-top:20px;}
#topnav li{float:left; margin-right:14px; padding-right:15px; border-right:1px solid #666666;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0; padding:0; font-weight:normal;}
#topnav li a:hover, #topnav li.active a{color:#FF9900; background-color:#FFFFFF;}
#topnav li.last{margin:0; padding:0; border:none;}

/* ----------------------------------------------Pagination------------------------------------- */
#container .pagination{display:block; width:100%; text-align:center; clear:both; font-family:Verdana, Geneva, sans-serif;}
#container .pagination ul{margin:0; padding:0; list-style:none;}
#container .pagination li{display:inline;}
#container .pagination strong{font-weight:normal;}
#container .pagination .next{margin:0;}
#container .pagination a, #container .pagination .current strong, #container .pagination .splitter strong{display:inline-block; padding:2px 6px; margin:0 2px 0 0;}
#container .pagination a{border:1px solid #DFDFDF;}
#container .pagination .current a {border-color: black}
